body {
    background: #f7f7f7; /*#FCFCBD;*/
    font-family: "arial";
}

.entry {
    float: left;
    width: 210px;
    border: solid black 1px;
    height: 220px;
    padding: 18px;
    margin: 8px;
    background: white;
    line-height: 1.2;
    font-size: 13.5px;
}
.entry-infobox {
    float: right;
    width: 220px;
    border: solid black 1px;
    height: 225px;
    padding: 25px;
    margin: 25px 33px 25px 25px;
    background: white;
    line-height: 1.1;
}
h2 {
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    text-shadow: 2px 2px 20px red;
}

.custom-icon {
    margin-right:4px;
    border-radius:5px;
    padding:3px 7px;
    min-width:20px;
    display:inline-block;
    color:#fff;
    text-decoration: none;
}

.icon-twitter {background-color: #00ACED;}
.icon-facebook {background-color: #3B5998;}
.icon-envelope {background-color:#c0c0c0;}
.icon-2x {font-size: 1.7em;}

.q0-5{fill:#A09174}
.q1-5{fill:#BFB29E}
.q2-5{fill:#DCEAD6}
.q3-5{fill:#98C58D}
.q4-5{fill:#46A847}

.q0-6{fill:rgb(255,0,0)}
.q1-6{fill:#FC8400;}
.q2-6{fill:#FDC300;}
.q3-6{fill:#FEF200;}
.q4-6{fill:#82e0c3;}
.q5-6{fill:#4EAB07;}

.q0-6{fill:rgb(255,0,0)}
.q1-6{fill:#FC8400;}
.q2-6{fill:#FDC300;}
.q3-6{fill:#FEF200;}
.q4-6{fill:#82e0c3;}
.q5-6{fill:#4EAB07;}


.q0-7{fill:#D32;}
.q1-7{fill:#E98736;}
.q2-7{fill:#F1C76E;}
.q3-7{fill:#FFB;}
/*.q4-7{fill:#C0DC8F;}*/
/*.q5-7{fill:#7ABB6D;}*/
.q4-7{fill:#C0DC8F;}
.q5-7{fill:#195;}

.q6-7{fill:#195;}
.q7-7{fill: rgba(22, 48, 3, 0.93);}

button.close {margin-top: -4px;margin-right: -8px; }

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
}
.my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
.my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 60px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
}
.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 60px;
}
.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}
.my-legend a {
    color: #777;
}